service: spendflix-auth

frameworkVersion: '4'

provider:
  name: aws
  runtime: provided.al2
  region: us-east-2
  architecture: arm64
  memorySize: 256
  timeout: 10
  stage: ${opt:stage, 'dev'}
  environment:
    STAGE: ${self:provider.stage}
    DATABASE_URL: ${env:DATABASE_URL}
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - POST
        - OPTIONS

functions:
  api:
    handler: bootstrap
    events:
      - httpApi:
          path: /auth/sign-up
          method: post

package:
  patterns:
    - '!**'
    - 'bootstrap'

