# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# builds
.next/
out/
build
dist
.serverless
.turbo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Prisma
**/generated
**/__generated__

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Eslint
.eslintcache

# Cognito
.cognito

# Generator 
modules/generator/*.csv
.byebug_history
